*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hidden{
  display: none;
}
body{
  height: 100vh;
  flex-direction: column;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.so-du{
  width: 30%;
  background-color: #e56c3f;
  color: white;
  padding: 24px 16px;
  border-radius: 20px;
  margin: 12px 0;
}
.so-du div{
  font-weight: 600;
  margin-bottom: 12px;
}
.main{
  width: 30%;
  margin: 12px 0;
  box-shadow: 0 0 10px 1px black;
  padding: 24px 16px;
  border-radius: 20px;
}
.title{
  padding: 12px 0;
}
.input-container{
  width: 90%;
}

.input-container>span{
  font-weight: 700;
  font-size: larger;
}
.input-money{
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
  padding: 4px 8px;
  margin: 0 5px;
  font-size: 20px;
}
.input-money:focus-visible{
  outline: none;
}
.input-all-money{
  padding: 4px 8px;
  background-color: #ccc;
  color: #2c45ff;
  cursor: pointer;
  border: none;
  font-weight: 700;
}
.mission{
  padding:0;
  justify-content: space-between;
  width: 90%;
  border-top: solid black 1px;
  margin: 16px 0;
  border-bottom: solid black 1px;
}
.mission:hover{
  cursor: pointer;
  opacity: 0.8;
  background-color: #ccc;
}
.withdraw{
  padding: 8px 16px;
  color: white;
  background-color: #6a5af9;
  border: none;
  border-radius: 10px;
}

ul{
  list-style: none;
  flex-direction: column;
  text-align: left;
}
button:hover,.input-all-money:hover{
  cursor: pointer;
  opacity: 0.7;
}

.main{
  position: relative;
}
.mission-info{
  position: fixed;
  background-color: rgba(1, 1, 1, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 10;
  display: none;
}
.mission-table{
  background-color: #fff;
  color: black;
  position: relative;
  padding: 4px 32px 64px 32px;
  border-radius: 16px;
}
.close-table{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-weight: 800;
  display: block;
  cursor: pointer;
}
.close-table:hover{
  opacity: 0.5;
}
.mission-table h1{
  padding: 32px 0;
  text-align: center;
}
.mission-table ul li{
  padding: 4px 0;
  font-size: 18px;
}
.mission-btn{
  position: absolute;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #2c45ff;
  color: #fff;
  font-size: 18px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
} 
.refresh-btn{
  position: absolute;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #181f54e4;
  color: #fff;
  font-size: 10px;
  right: 20px;
  bottom: 20px;
}

